[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdtree-tabs"]
	path = bundle/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
